#sidebar {
    background-color: #e9ebec;
    width: 15%;
}
#links {
    height: 100%;
}
#links img{
    width: 20px;
    height: 16px;
}
#links a{
    border-bottom: 1px solid #ced1d4;
    border-right: 1px solid #ced1d4;
    align-items: center;
    height: 45px;
    cursor: default;
    text-align: center;
    display: flex;
    line-height: auto;
    text-decoration: none;
}
#links a:hover {
    background-color: #ced1d4;
}
#links a #col {
    height: inherit;
    width: 25%;
    border-right: 1px solid #ced1d4;
    justify-content: center;
    display: inline-flex;
}
#links i {
    align-self: center;
}
#links span{
    font-size: 12px;
    color: #7c848d;
    font-family: poppins;
    padding-left: 10px;
    text-shadow: none;
    text-decoration: none;
}