.Tutorials #main {
    display: flex;
}
#rowcont {
    display: grid;
    width: 85%;
    padding-left: 2%;
}
.Tutorials #main #tutrow {
    height: 100%;
    margin: 2%;
}
.Tutorials #main #r1 {
    width: 100%;
}
.Tutorials #main #r1 span {
    width: 6.5%;
}
.Tutorials #mr2 {
    width: 100%;
    padding: 2%;
    background-color: white;
    border: 1px solid #ced1d4;
    margin-bottom: 3%;
}
.Tutorials tr button {
    margin: 1%;
    color: white;
    border: none;
    border-radius: 2px;
    padding: 5px;
}
#nth {
    width: 25%;
}